<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Directives</title>
    <!-- Load javascript files -->
    <script src="js/lib/jquery-1.11.3.min.js"></script>
    <script src="js/lib/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/raphael-min.js"></script>
    <script src="js/lib/justgage.1.0.1.min.js"></script>
    <script src="js/directives/ng-gage.js"></script>
    <script src="js/directives/ng-jquery-datepicker.js"></script>
    <script src="js/app.js"></script>

    <!-- Load stylesheet files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/ui-lightness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="css/ui-lightness/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/ui-lightness/theme.css"/>

</head>
<body ng-controller="mainController">
<div class="container">
    <div class="row">
        <!--col-sm-9 col-sm-offset-3-->
        <br class=" col-md-12  main">
            <div class="row gauges">
                <div class="col-xs-4 ">
                    <ng-just-gage id="indicatorOne" min=0 max=100 value=70 title="Static Gage"></ng-just-gage>
                </div>
                <div class="col-xs-4">
                    <ng-just-gage id="indicatorTwo" min=0 max=100 value="speed"
                             options = "{
                                          title: 'Speed',
                                          showMinMax : true
                                         }" ></ng-just-gage>
                </div>
                <div class="col-xs-4">
                    <ng-just-gage id="indicatorThree" min="104" max="200" value="heartRate"
                             options = "{
                                          title: 'Heart Rate',
                                          showMinMax : true
                                         }"></ng-just-gage>
                </div>


                <div class="col-xs-4">
                    <ng-just-gage id="indicatorFour" value="grade" min="55" max="100"
                             options = "{
                                title: 'University Grade',
                                levelColors: ['#CE1B21', '#D0532A', '#FFC414', '#85A137'],
                                levelGradiant: false,
                                showMinMax: true,
                                label: label,
                                startAnimationType : '<>',
                                refreshAnimationType: 'Bounce',
                                gaugeColor: 'yellow',
                                gaugeWidthScale: 0.2
                             }"></ng-just-gage>
                </div>


                <div class="col-xs-4">
                    <ng-just-gage id="indicatorFive" value="electorals" min="60" max="540"
                             options = "{
                                title: 'Electoral votes',
                                levelColors: ['#CE1B21', '#D0532A', '#FFC414', '#85A137'],
                                levelGradiant: false,
                                showMinMax: true,
                                label: label,
                                startAnimationType : '<>',
                                refreshAnimationType: 'bounce',
                                gaugeWidthScale: 0.1
                             }"></ng-just-gage>
                </div>

                <div class="col-xs-4">
                    <ng-just-gage id="indicatorSix" value="mandate" min="0" max="120"
                             options = "{
                                title: 'Kenneset Mandates',
                                levelColors: ['#CE1B21', '#D0532A', '#FFC414', '#85A137'],
                                levelGradiant: false,
                                showMinMax: true,
                                label: label,
                                startAnimationType : '<>',
                                refreshAnimationType: 'linear',
                                gaugeWidthScale: 0.1
                             }"></ng-just-gage>
                </div>
            </div>
            </br>
        <!-- Create 6 different datepickers -->
            <div class="row datepickers">
                <div class="col-xs-3 col-sm-offset-1">
                    <div class="input-group   input-group-sm">
                        <span class="input-group-addon" id="basic-addon1">@datum</span>
                        <ng-jquery-date-picker type="text" class="form-control" id="germanDatePicker" placeholder="'Wahlen Sie ein Datum'"
                                               aria-describedby="basic-addon1" ng-model="date1"
                                               date-format="mm.dd.y"
                                               day-names="Sonntag,Montag,Dienstag,Mittwoch,Donnerstag,Freitag,Samstag"
                                               day-names-short="Son,Mon,Die,Mit,Don,Fre,Sam"
                                               day-names-min="So,Mo,Di,Mi,Do,Fr,Sa"
                                               duration="fast"
                                               max-date="+3m"
                                               min-date="-3m"
                                               month-names="Januar,Februar,M?rz,April,Mai,Juni,Juli,August,September,Oktober,November,Dezember"
                                               month-names-short="Jan,Feb,M?r,Apr,Mai,Jun,Jul,Aug,Sep,Okt,Nov,Dez"
                                               show-on="focus"
                                               show-anim="show"
                                               year-suffix="CE"
                                               disabled="false"
                                               ng-jquery-date-picker/> <br/>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-offset-1">
                    <div class="input-group   input-group-sm">
                        <span class="input-group-addon" id="basic-addon2">@date</span>
                        <ng-jquery-date-picker type="text" class="form-control" id="frenchDatePicker" placeholder="'choisir une date'"
                                               aria-describedby="basic-addon2" ng-model="date2"
                                               date-format="mm.dd.y"
                                               day-names="dimanche,lundi,mardi,mercredi,jeudi,vendredi,samedi,dimanche"
                                               day-names-short="dim,lun,mar,mer,jeu,ven,sam"
                                               day-names-min="di,lu,ma,me,je,ve,sa"
                                               duration="normal"
                                               max-date="+4m +1w"
                                               min-date="-4m -1w"
                                               month-names="janvier,fevrier,mars,avril,mai,juin,juillet,aout,septembre,octobre,novembre,decembre"
                                               month-names-short="jan,fev,mar,avr,mai,juin,juil,aout,sep,oct,nov,dec"
                                               show-on="focus"
                                               show-anim="slideDown"
                                               year-suffix="CE"
                                               disabled="false"
                                               ng-jquery-date-picker/> <br/>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-offset-1">
                    <div class="input-group   input-group-sm">
                        <span class="input-group-addon" id="basic-addon3">@fecha</span>
                        <ng-jquery-date-picker type="text" class="form-control" id="spanishDatePicker" placeholder="'elegir una fecha'"
                                               aria-describedby="basic-addon3" ng-model="date3"
                                               date-format="dd.mm.yy"
                                               day-names="domingo,lunes,martes,miercoles,jueves,viernes,sabado"
                                               day-names-short="dom,lun,mar,mier,juev,vier,sab"
                                               day-names-min="do,lu,ma,mi,ju,vi,sa"
                                               duration="fast"
                                               max-date="+4m +1w +1d"
                                               min-date="-4m -1w -1d"
                                               month-names="enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre"
                                               month-names-short="ene,feb,mar,abr,may,jun,jul,ago,sep,oct,nov,dic"
                                               show-on="focus"
                                               show-anim="fadeIn"
                                               year-suffix="CE"
                                               disabled="false"
                                               ng-jquery-date-picker/> <br/>
                    </div>
                </div>
                </br>
            </div>
        </div>
    </div>
</div>

</body>
</html>